root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/hub ./cmd/hub"
bin = "./tmp/hub"
include_ext = ["go", "tpl", "tmpl", "html", "toml"]
exclude_dir = ["assets", "tmp", "vendor", "testdata", "bin", "docs"]
delay = 1000
stop_on_error = true
send_interrupt = true
kill_delay = "500ms"

[log]
time = true

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true

[screen]
clear_on_rebuild = false
keep_scroll = true
